

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  
  .header {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute !important;
  }
  
  .navbar {
    width: 97%;
    border-radius: 1rem;
  }

  .nav-item {
    padding-left: 5rem;
    text-transform: uppercase;
    gap: 7rem;
  }

  .nav-link{
    opacity: 1;
  }
  
  .user__authorization {
    width: 4rem;
  }
  
  .user__icon {
    width: 100%;
  }

  .from-ukraine__main-block .tours__desktop__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }
