

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  
.header {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    // position: absolute !important;
  }
  
.navbar {
    width: 97%;
    border-radius: 2rem;
    text-decoration: none;
  }
  .nav-link{
    font-weight: bold;
    text-decoration: none;;
    &:hover {
      color: rgb(255, 255, 255);
      text-decoration: underline;
  }
  }

.nav-item {
    padding: 0 2rem 0 6rem ;
    text-transform: uppercase;
    gap: 7rem;
    justify-items: center;
    text-decoration: none;
  }

.container-fluid{
  margin-left: 3rem;

}


.user__authorization {
    width: 3rem;
    margin-top: 1.5vh;
  }
  
.user__icon {
    width: 100%;
  }

.dropdown-menu{
  opacity: 0.6;
  padding: 2%;
  border-radius: 1rem;
}

  .from-ukraine__main-block .tours__desktop__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }
  .conteiner__items{
    width: 33%;
    padding: 2rem;
    text-decoration: none;
    
  
  }
  .footer__conteiner{
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: rgb(0, 87, 183);
    color:white;
    list-style-type:  none;
    align-content: center;
  }
  
  ul{
    list-style-type: none;
  }
  a{
    color: white;
    text-decoration: none;
  
  }