$standart-color: #6495ED;
$basic-color: #FFD700;

.heading {
    //text-align: center;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color: $standart-color;
}

.line {
    width: 50%;
    height: 4px;
    background-color: $standart-color;
    margin: 15px auto 30px;
}

.text {
    font-size: 16px;
    .first-letter {
        font-weight: bold;
        font-size: 17px;
        color: $standart-color;
    }
}

.btn-classic {
    outline: 2px solid $standart-color;
    text-transform: uppercase;
    //display: block;
    padding: 1% 3%;
    background-color: #FFD700;
    //max-width: 150px;
    //margin: 0 auto;
}

.modal-body {
    position: relative;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

